<footer>
	<div class="content">&copy; {{ site.author }} 2014 - {{ "now" | date: "%Y" }}</div>
</footer>

<script type="text/javascript">
	// Dynamic header height
	(function() {
		var $section = document.querySelector('.js-header-section');
		var $content = document.querySelector('.js-header-content');

		if($section == null || $content == null) {
			return;
		}

		function resizeHeader() {
			var height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
			$section.style.minHeight = height + 'px';
			$content.style.marginTop = (height-$content.offsetHeight)/2 + 'px';
		}

		window.addEventListener('resize', resizeHeader, true);

		// Init
		resizeHeader();
	})();
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.kilowhat.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 8]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.kilowhat.net/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
