
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #333;
}

p {
	font-size: 1.2em;

	a {
		color: #888;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.band {
	position: relative;
	overflow: auto;

	&:nth-of-type(1) {
		background: black;
		color: white;
	}

	&:nth-of-type(2) {
		h1 {
			color: #241c6a;
		}
	}

	&:nth-of-type(3) {
		background: #ffd35b;
		h1 {
			color: #920000;
		}
	}

	&:nth-of-type(4) {
		h1 {
			color: #007a28;
		}
	}

	&:nth-of-type(5) {
		background: #dadada;
		color: #666;
	}

	section,
	footer {
		width: 960px;
		padding: 50px 20px;
		margin: 0 auto;
		min-height: 400px;
		text-align: center;

		h1 {
			font-family: 'Slackey', cursive;
			font-size: 2.6em;
			line-height: 1em;

			&.hidden {
				display: none;
			}
		}

		h2 {
			font-size: 2em;
		}

		&.home {
			font-size: 1.2em;
			min-height: 0; // Because minheight prevents autoheight to be applied correctly

			p {
				margin-top: 50px;
			}
		}

		.line {
			.col-50 {
				display: inline-block;
				vertical-align: top;
				width: 50%;
			}
		}

		.big-btn {
			display: inline-block;
			color: inherit;
			text-decoration: none;
			border: 2px solid;
			padding: 1.5em 3em;

			&:hover {
				background: white;
				color: black;
			}
		}

		.download-btn {
			display: inline-block;
			padding: 1em 2em;
			border: 2px solid;
			font-size: 1.5em;
		}
	}

	footer {
		min-height: 0;
		padding-top: 150px;
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20549.2812%20165.71875%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22m5%2C5%2C1.6562%2C32.156c8.294-0.4146%2C16.531-0.7859%2C24.687-1.0625%2C8.156-0.4146%2C16.362-0.59363%2C24.656-0.59375%2C7.465%2C0.00012%2C14.861%2C0.04933%2C22.188%2C0.1875%2C7.465%2C0.00012%2C15.022-0.04918%2C22.625-0.1875-16.312%2C13.963-32.236%2C28.042-47.719%2C42.281-15.483%2C14.238-30.954%2C28.691-46.437%2C43.344%2C1.5206%2C6.636%2C2.4915%2C13.271%2C2.9062%2C19.906%2C0.4147%2C6.497%2C1.0455%2C13.052%2C1.875%2C19.688%2C11.889-0.9677%2C23.767-1.858%2C35.656-2.6875%2C12.027-0.8295%2C24.116-1.59%2C36.281-2.2812%2C17.691-0.87827%2C35.372-2.3268%2C53.063-4.3438%2C2.7815%2C2.2092%2C6.15%2C3.587%2C9.8438%2C3.2812%2C22.804-0.007%2C45.623-0.6331%2C68.375-2.25%2C2.2616-0.13457%2C4.8635-0.0719%2C7.0625-0.75%2C0.0109%2C0.27075%2C0.0206%2C0.54173%2C0.0312%2C0.8125%2C7.876%2C0.83797%2C15.852%2C0.86617%2C23.719-0.0937%2C2.0419-5.119%2C0.99555-13.31%2C1.9062-19.594%2C0.8965-8.025%2C0.54125-16.243%2C2.3438-24.125%2C5.324-4.2483%2C12.435-5.3596%2C19-6.4062%2C6.5693-0.823%2C9.4558%2C6.6448%2C10.562%2C11.844%2C2.2876%2C14.437%2C1.735%2C29.136%2C1.8438%2C43.719%2C7.455%2C0.79807%2C14.99-0.0657%2C22.469-0.15625-0.6991-17.776-0.8923-35.661%2C1.3125-53.344%2C1.626-8.3432%2C12.866-6.8626%2C19.375-7.75%2C4.877%2C0.4767%2C12.927-0.9153%2C14.188%2C5.5%2C3.4935%2C17.417%2C4.4706%2C35.494%2C1.4062%2C53.062%2C3.8243-0.75404%2C7.6848-1.1841%2C11.562-1.5-0.003%2C0.3544%2C0.003%2C0.7081%2C0%2C1.0625%2C9.693-0.54356%2C19.414-0.98095%2C29.125-0.96875l0.6875-6.0625c13.699%2C0.39321%2C27.39%2C0.5749%2C41.094%2C0.5625%2C7.8964-0.16233%2C15.955%2C0.50742%2C23.719-1.0625%2C1.0911%2C0.99525%2C2.3759%2C1.7734%2C3.875%2C2.2812%2C10.43%2C4.3959%2C21.891%2C5.7928%2C33.125%2C6.0312%2C12.376-0.051%2C25.926-3.825%2C33.656-14.125%2C0.6086%2C5.122%2C1.2352%2C10.222%2C1.8438%2C15.344l25.719-1.0625c-0.28359-12.823-0.40772-25.626-1.0312-38.438-1.7797-15.287-2.6892-30.669-4-46l-29.531%2C1.375c0.43393%2C10.885%2C1.2712%2C21.794%2C0.75%2C32.687-0.7567%2C3.9543%2C1.2756%2C9.8301-2.8125%2C12.125-8.597%2C2.8502-17.869%2C3.2654-26.875%2C3.2188-4.1123%2C0.3264-9.634-0.9174-9.0312-6.1875-1.5512-13.894-1.9484-27.882-2.5-41.844-8.203-1.6213-16.607-2.3677-24.938-1.375-0.55514%2C3.6567-1.0363%2C7.3265-1.4688%2C11-3.6382-1.5614-7.5993-2.4996-11.375-3.0938-12.72-0.63505-25.469%2C1.0769-37.969%2C3.3437-8.162%2C0.775-14.826%2C6.5606-18.719%2C13.469-0.009-14.86-1.1394-29.702-0.5625-44.563-7.968-0.32812-15.937-0.67188-23.906-1%2C0.20214%2C7.345%2C0.3916%2C14.687%2C0.59375%2C22.031%2C0.0436%2C1.0525%2C0.0858%2C2.1037%2C0.125%2C3.1562-6.8667-2.9967-15.159-2.6254-22.531-2.625-10.956-0.049-23.302%2C3.124-29.312%2C13.125-5.556-5.5562-12.143-11.531-20.562-11.156-11.091-0.523-21.545%2C4.4262-29.844%2C11.469%2C0.6806-4.5031%2C1.3506-8.997%2C2.0312-13.5-11.526-0.62319-23.096-0.73195-34.562%2C0.78125%2C0.28241%2C3.4281%2C0.55973%2C6.8529%2C0.84375%2C10.281-12.599-2.1662-25.499-1.9552-38.25-2.4375-12.519-0.2432-25.118-0.2719-37.562%2C1.3125-4.7204%2C0.2405-10.134%2C1.8146-11.281%2C7.125-2.5842%2C8.6954-3.2337%2C17.71-3.1875%2C26.75-9.5268%2C0.15804-19.031%2C0.45963-28.5%2C0.90625-14.515%2C0.6913-29.097%2C1.3221-43.75%2C1.875l50.19-33.366c7.465-4.839%2C14.65-9.9522%2C21.563-15.344%2C7.05-5.391%2C13.945-11.006%2C20.719-16.813-0.8296-8.018-1.5097-15.964-2.0625-23.844-0.5531-8.018-1.6045-16.044-3.125-24.063-10.921-0.27631-21.748-0.48654-32.531-0.625-10.783-0.27626-21.642-0.40611-32.563-0.40625h-71.75zm165.78%2C61.063c2.8609-0.01604%2C5.7099%2C0.06691%2C8.5625%2C0.21875%2C5.861%2C0.7715%2C12.61%2C0.2819%2C17.375%2C4.375%2C2.9529%2C5.159%2C2.8371%2C11.277%2C3.125%2C17.031-0.4259%2C5.293%2C0.51825%2C11.984-3.7812%2C15.938-7.986%2C4.4676-17.625%2C4.5134-26.531%2C3.875-5.142-1.0871-12.019-0.0645-15.312-5.0312-1.7707-7.157-2.2268-14.558-2.3125-21.906%2C0.2263-4.5838-0.2982-11.073%2C4.625-13.375%2C4.7062-0.7939%2C9.4819-1.0983%2C14.25-1.125zm243.94%2C1.125c2.283%2C0.006%2C4.569%2C0.12035%2C6.8438%2C0.40625%2C6.4742%2C1.847%2C6.189%2C10.904%2C7.25%2C16.437%2C0.5985%2C4.2695-1.7436%2C7.1895-5.9688%2C7.7188-12.852%2C2.7129-26.075%2C2.6651-39.156%2C2.6875l-1.625-22.562c1.886-3.1989%2C8.4148-2.2624%2C12.125-3.25%2C6.8182-0.45313%2C13.682-1.4556%2C20.531-1.4375z%22%2F%3E%3C%2Fsvg%3E");
		background-repeat: no-repeat;
		background-position: center 70px;
		background-size: 250px;
	}

	.next {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 1em;
		height: 1em;
		margin-left: -0.5em;
		font-size: 100px;
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2044%22%3E%3Cpath%20d%3D%22M14.83%2016.42L24%2025.59l9.17-9.17L36%2019.25l-12%2012-12-12z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
		background-repeat: no-repeat;
		background-position: center center;
	}
}
