
@import "sprites";

$color-zombu-blue: #241c6a;
$color-zombu-green: #007a28;
$color-zombu-red: #920000;
$color-zombu-yellow: #ffd35b;
$color-zombu-brown: #241c6a;
$color-text-normal: #333;
$color-text-light: white;
$color-text-link: #888;
$color-background-light: white;
$color-background-dark: black;

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: $color-text-normal;
	background: $color-background-dark;
}

p {
	font-size: 1.2em;

	a {
		color: $color-text-link;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.band {
	position: relative;
	overflow: auto;

	&:nth-of-type(1) {
		background: rgba($color-background-dark, 0.5);
		color: $color-text-light;
	}

	&:nth-of-type(2) {
		background: $color-background-light;
		h1 {
			color: $color-zombu-blue;
		}
	}

	&:nth-of-type(3) {
		background: $color-zombu-yellow;
		h1 {
			color: $color-zombu-red;
		}
	}

	&:nth-of-type(4) {
		background: $color-background-light;
		h1 {
			color: $color-zombu-green;
		}
	}

	&:nth-of-type(5) {
		background: #dadada;
		color: #666;
	}

	section,
	footer {
		width: 960px;
		padding: 50px 20px;
		margin: 0 auto;
		min-height: 400px;
		text-align: center;
		position: relative;

		h1 {
			font-family: 'Slackey', cursive;
			font-size: 2.6em;
			line-height: 1em;

			&.hidden {
				display: none;
			}
		}

		h2 {
			font-size: 2em;
		}

		&.home {
			font-size: 1.2em;
			min-height: 0; // Because minheight prevents autoheight to be applied correctly

			p {
				margin-top: 50px;
			}
		}

		.line {
			.col-50 {
				display: inline-block;
				vertical-align: top;
				width: 50%;
			}
		}

		.big-btn {
			display: inline-block;
			color: inherit;
			text-decoration: none;
			border: 2px solid;
			padding: 1.5em 3em;

			&:hover {
				background: $color-text-light;
				color: $color-background-dark;
			}
		}

		.download-btn {
			display: inline-block;
			padding: 1em 2em;
			border: 2px solid;
			color: $color-zombu-blue;
			font-size: 1.5em;
			text-decoration: none;

			&:hover {
				background: $color-zombu-blue;
				color: $color-text-light;
			}
		}
	}

	footer {
		min-height: 0;
		padding-top: 150px;
		background-image: $zombu-logo-grey;
		background-repeat: no-repeat;
		background-position: center 70px;
		background-size: 250px;
	}

	.next {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 1em;
		height: 1em;
		margin-left: -0.5em;
		font-size: 100px;
		background-image: $icon-down;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.game-scene {
	position: absolute;
	z-index: -100;
	font-size: 1px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	%game-sprite {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.game-player {
		@extend %game-sprite;
		background-image: $sprite-player;
		width: 77em;
		height: 120em;

		bottom: 10%;
		left: 10%;
		transform: rotate(45deg);
	}

	.game-zombie {
		@extend %game-sprite;
		background-image: $sprite-zombie;
		width: 80em;
		height: 75em;

		&.first {
			top: 40%;
			left: 5%;
			transform: rotate(170deg);
		}

		&.second {
			top: 20%;
			left: 45%;
			transform: rotate(-130deg);
		}

		&.third {
			top: 50%;
			right: 20%;
			transform: rotate(-100deg);
		}
	}

	.game-box {
		@extend %game-sprite;
		background-image: $sprite-box;
		width: 100em;
		height: 100em;

		&.first {
			bottom: 30%;
			left: 25%;
		}

		&.second {
			top: 10%;
			right: 30%;
		}

		&.third {
			top: 20%;
			right: 15%;
		}
	}

	.game-wall {
		@extend %game-sprite;
		background-image: $sprite-wall;
		width: 250em;
		height: 154em;

		&.first {
			top: 5%;
			left: 15%;
		}

		&.second {
			bottom: 10%;
			right: 10%;
		}
	}
}

.link-bugnplay {
	display: inline-block;
	vertical-align: middle;
	text-indent: -9999px;
	background-image: $bugnplay-logo;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 8.4em;
	height: 1.8em;
}
